@using BankProfiles.Web.Models

<div class="technical-info">
    @if (Info != null)
    {
        <div class="accordion" id="techAccordion">
            @if (Info.Commissions != null)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComm">
                            Commissions
                        </button>
                    </h2>
                    <div id="collapseComm" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <p><strong>Domestic:</strong> Incoming @Info.Commissions.IncomingTransfer?.Domestic, Outgoing @Info.Commissions.OutgoingTransfer?.Domestic</p>
                            <p><strong>International:</strong> Incoming @Info.Commissions.IncomingTransfer?.International, Outgoing @Info.Commissions.OutgoingTransfer?.International</p>
                        </div>
                    </div>
                </div>
            }
            @if (Info.AvailableCurrencies != null)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCurr">
                            Available Currencies
                        </button>
                    </h2>
                    <div id="collapseCurr" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            @foreach (var currency in Info.AvailableCurrencies)
                            {
                                <span class="badge bg-secondary me-1">@currency</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter] public TechnicalInfo? Info { get; set; }
}
